.click {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#board.init::before {
  content: "Tap to roll dice.";
  position: absolute;
  font-size: 7vw;
  width: 100%;
  text-align: center;
  bottom: 17vh;
  color: rgba(0, 0, 0, 0.5)
}
#board.init::after {
  content: "Shift-click or long press a die to lock it";
  position: absolute;
  font-size: 5vw;
  width: 100%;
  text-align: center;
  bottom: 11vh;
  color: rgba(0, 0, 0, 0.5)
}

.die {
  background-color: #fff;
  width: 50vmin;
  height: 50vmin;
  border-radius: 0.75vmin;
  box-shadow: 0.75vmin 0.75vmin 5vmin 0 rgba(0,0,0,0.2),
              inset -0.5vmin -0.5vmin 2vmin 0 rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: all 0.4s ease-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.die::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 98%;
  border-radius: 10%;
  box-shadow: 0 0 4vmin 2vmin rgba(0,0,0,0.1),
              inset 0 0 2vmin 0.2vmin rgba(0,0,0,0.1);
}

#board .die.lock {
  box-shadow: 1vmin 1vmin 8vmin 0 rgba(0,0,0,0.7),
              inset -0.5vmin -0.5vmin 2vmin 0 rgba(0,0,0,0.1);
}

.d-2 .die,
.d-3 .die,
.d-4 .die {
  width: 32vmin;
  height: 32vmin;
  margin: 8vh 8vw;
}

.d-5 .die,
.d-6 .die,
.d-7 .die,
.d-8 .die,
.d-9 .die {
  width: 22vmin;
  height: 22vmin;
  margin: 5.5vh 5.5vw;
}

@media screen and (orientation: landscape) {
  .click {
    flex-direction: row;
  }
  #board {
    flex-direction: row;
  }
}

.deg0.die {
  transform: rotate(-130deg);
}

.deg1.die {
  transform: rotate(-95deg);
}

.deg2.die {
  transform: rotate(-53deg);
}

.deg3.die {
  transform: rotate(-17deg);
}

.deg4.die {
  transform: rotate(5deg);
}

.deg5.die {
  transform: rotate(27deg);
}

.deg6.die {
  transform: rotate(51deg);
}

.deg7.die {
  transform: rotate(84deg);
}

.deg8.die {
  transform: rotate(126deg);
}

.deg9.die {
  transform: rotate(164deg);
}

.deg10.die {
  transform: rotate(203deg);
}

.deg11.die {
  transform: rotate(239deg);
}

.deg45.die {
  transform: rotate(45deg);
}

body.hide .die:not(.lock) {
  transform: translate(-95vw, -95vh) rotate(0);
  transition: translate 0s ease-in-out;
}

.dot {
  width: 16.6666%;
  height: 16.6666%;
  margin: 16.6666%;
  background-color: #444;
  border-radius: 50%;
  box-shadow: inset 0.75vmin 0.75vmin 2vmin 0.2vmin rgba(0,0,0,0.3);
}

.t-dot .die.n1 .dot2,
.t-dot .die.n1 .dot3,
.t-dot .die.n1 .dot4,
.t-dot .die.n1 .dot5,
.t-dot .die.n1 .dot6,
.t-dot .die.n2 .dot3,
.t-dot .die.n2 .dot4,
.t-dot .die.n2 .dot5,
.t-dot .die.n2 .dot6,
.t-dot .die.n3 .dot4,
.t-dot .die.n3 .dot5,
.t-dot .die.n3 .dot6,
.t-dot .die.n4 .dot5,
.t-dot .die.n4 .dot6,
.t-dot .die.n5 .dot6
 {
  display: none;
}

/* DIE: 2 */
.t-dot .die.n2 .dot1 {
  align-self: flex-start;
}

.t-dot .die.n2 .dot2 {
  align-self: flex-end;
}

/* DIE: 3 */
.t-dot .die.n3 .dot1 {
  align-self: flex-start;
  margin-right: 0;
  margin-bottom: 0;
}

.t-dot .die.n3 .dot2 {
  margin: 8.3333%;
}

.t-dot .die.n3 .dot3 {
  align-self: flex-end;
  margin-top: 0;
  margin-left: 0;
}

/* DIE: 4 */
.t-dot .die.n4 {
  flex-wrap: wrap;
}

/* DIE: 5 */
.t-dot .die.n5 {
  flex-wrap: wrap;
}

.t-dot .die.n5 .dot1 {
  margin-right: 0;
  margin-bottom: 25%;
}

.t-dot .die.n5 .dot2 {
  margin: 41.6666% 8.3333% 0;
}

.t-dot .die.n5 .dot3 {
  margin-left: 0;
  margin-bottom: 25%;
}

.t-dot .die.n5 .dot4 {
  margin-top: 8.3333%;
}

.t-dot .die.n5 .dot5 {
  margin-top: 8.3333%;
}

/* DIE: 6 */
.t-dot .die.n6 {
  flex-wrap: wrap;
}

.t-dot .die.n6 .dot1 {
  margin-bottom: 8.3333%;
}

.t-dot .die.n6 .dot2 {
  margin-bottom: 8.3333%;
}

.t-dot .die.n6 .dot3 {
  margin-top: 0;
  margin-bottom: 0;
}

.t-dot .die.n6 .dot4 {
  margin-top: 0;
  margin-bottom: 0;
}

.t-dot .die.n6 .dot5 {
  margin-top: 8.3333%;
}

.t-dot .die.n6 .dot6 {
  margin-top: 8.3333%;
}

.die .color {
  border-radius: 10%;
  width: 90%;
  height: 90%;
}

.t-color .die.n1 .color {
  background-color: orange;
}

.t-color .die.n2 .color {
  background-color: #39f;
}

.t-color .die.n3 .color {
  background-color: yellow;
}

.t-color .die.n4 .color {
  background-color: pink;
}

.t-color .die.n5 .color {
  background-color: red;
}

.t-color .die.n6 .color {
  background-color: white;
}

.menu {
  left: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 7;
  padding: 3vw;
  font-size: 3.5vw;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.menu > div {
  margin: 2vw 1vw;
  display: flex;
  justify-content: space-between;
}

.menu button {
  cursor: pointer;
  border: 0;
  border-radius: 1vw;
  padding: 2vw 3vw;
  background-color: lightskyblue;
  color: #000;
  font-size: 3vw;
}

.menu button:focus {
  outline: none;
}

.menu .b1 button {
  width: 100%;
}

.menu .b4 button {
  width: 24%;
}

.menu .b9 button {
   width: 10%;
}

@media screen and (min-width: 720px) {
  .menu {
    width: 700px;
    left: 50%;
    margin-left: -350px;
    padding: 18px;
    font-size: 24.5px;
  }

  .menu > div {
    margin: 14px 21px;
  }

  .menu button {
    border-radius: 7px;
    padding: 14px 21px;
    font-size: 21px;
  }
}

.is-active .menu {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.t-dot button[value="dot"],
.t-color button[value="color"],
.t-cna button[value="cna"],
.t-poker button[value="poker"],
.d-1 button[value="1"],
.d-2 button[value="2"],
.d-3 button[value="3"],
.d-4 button[value="4"],
.d-5 button[value="5"],
.d-6 button[value="6"],
.d-7 button[value="7"],
.d-8 button[value="8"],
.d-9 button[value="9"]
 {
  background-color: steelblue;
  color: #fff;
}
